<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
<body>
    <%- include('includes/header') %>

    <main>
        <h2>Welcome to your dashboard</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, ducimus deleniti. Cum facere consequatur iure velit porro magni odit, dicta, illo repellendus possimus fuga minus dolore iusto libero sint dolorem.</p>

    </main>

    <%- include('includes/footer') %>
</body>
</html>